<li class="nav-item nav-category">Araba İşlemler</li>
<li  class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#car" role="button" aria-expanded="false" aria-controls="car">
      <i class="fas fa-car"></i>
      <span class="link-title">Car</span>
      <i class="link-arrow" data-feather="chevron-down"></i>
    </a>
    <div  class="collapse" id="car">
      <ul class="nav sub-menu">
        <li  class="nav-item">
          <a routerLink="/carAdd" class="nav-link btn">Car Add</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item nav-category">Marka İşlemler</li>
  <li  class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#brand" role="button" aria-expanded="false" aria-controls="brand">
      <i class="fas fa-truck-pickup"></i>
      <span class="link-title">Marka</span>
      <i class="link-arrow" data-feather="chevron-down"></i>
    </a>
    <div  class="collapse" id="brand">
      <ul class="nav sub-menu">
        <li  class="nav-item">
          <a routerLink="/brandAdd" class="nav-link btn">Brand Add</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item nav-category">Renk İşlemler</li>
  <li  class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#color" role="button" aria-expanded="false" aria-controls="color">
      <i class="fas fa-fill-drip"></i>
      <span class="link-title">Renk</span>
      <i class="link-arrow" data-feather="chevron-down"></i>
    </a>
    <div  class="collapse" id="color">
      <ul class="nav sub-menu">
        <li  class="nav-item">
          <a routerLink="/colorAdd" class="nav-link btn">Color Add</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item nav-Add nav-category">Kiralama İşlemler</li>
<li  class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#rental" role="button" aria-expanded="false" aria-controls="rental">
      <i class="fas fa-car-side"></i>
      <span class="link-title">Rental</span>
      <i class="link-arrow" data-feather="chevron-down"></i>
    </a>
    <div  class="collapse" id="rental">
      <ul class="nav sub-menu">
        <li  class="nav-item">
          <a routerLink="/carAdd" class="nav-link btn">Rental List</a>
        </li>
      </ul>
    </div>
  </li>