<li class="nav-item dropdown nav-profile">
    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <!-- https://lh3.googleusercontent.com/proxy/cXmCF2B-RoxE0rNj7h_H9iOBB-tfqS0CKxsu896sP2dNAGLtIOWc3LYQXH3hh5dlGpPMoHhbv_6O2yeLzVLijWTjLWPCceHQrYI7W58lhu3uw94 -->
      <img class="float-left" src="{{apiImageUrl}}/f686c4cf-1b3e-42a5-afb7-3216db14f444_rw_1200.gif" alt="profile">
      <p class="name font-weight-bold mb-0">{{tokenDecord.firstNameLastName}}</p>
    </a>
    <div class="dropdown-menu" aria-labelledby="profileDropdown">
      <div class="dropdown-header d-flex flex-column align-items-center">
        <div class="figure mb-3">
          <img src="https://i.pinimg.com/originals/5c/37/14/5c3714cba608140b1d6c15ce3f699068.gif" alt="">
        </div>
        <div class="info text-center">
          <p class="name font-weight-bold mb-0">{{tokenDecord.firstNameLastName}}</p>
          <p class="email text-muted mb-3">{{tokenDecord.email}}</p>
          <p *ngIf="userFindex" class="email text-muted mb-3">Findex notunuz= {{userFindex.findexNot}}</p>
        </div>
      </div>
      <div class="dropdown-body">
        <ul class="profile-nav p-0 pt-3">
          <li class="nav-item">
            <a href="pages/general/profile.html" class="nav-link">
              <i data-feather="user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/editProfile" href="javascript:;" class="nav-link">
              <i data-feather="edit"></i>
              <span>Edit Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:;" class="nav-link">
              <i data-feather="repeat"></i>
              <span>Switch User</span>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link">
              <i data-feather="log-out"></i>
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li> 
