<div class="main-wrapper">
 <app-left-navbar></app-left-navbar>
  <div class="page-wrapper pt-0">
      <div  style="background-color: white;" class="row">
        <app-top-navbar></app-top-navbar>
      </div>
    <div style="background-color: #94afff;" class="page-content mt-0"> 
      <router-outlet></router-outlet>
      <!-- <input type="datetime-local" [(ngModel)]="mymodel" (change)="valuechange($event)" />
      <input type="datetime-local" [(ngModel)]="mymodel2" (change)="valuechange2($event)" />
      {{mymodel}} -->
     
    </div>

  
  
  </div>
</div>