<div class="row">
    <div class="col-1">
      <i (click)="btnBack()" class="fas fa-chevron-circle-left fa-2x btn" data-toggle="tooltip" data-placement="top" title="Geri"></i>
  </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <form [formGroup]="colorAddForm">
          <div class="card-body">
            <h4 class="card-title text-center baslik">Color Add</h4>
         
        
            <div class="form-group row">
              <div class="col-lg-3">
                <label class="col-form-label">Color Name</label>
              </div>
              <div class="col-lg-8">
                <h6 class="float-right">{{colorNameLenght }}/25</h6>
                <input
                  class="form-control"
                  formControlName="colorName"
                  maxlength="25"
                  (ngModelChange)="onChangeColorName($event)"
                  name="colorName"
                  id="defaultconfig"
                  type="text"
                  placeholder=""
                />
              </div>
            </div>
         
          </div>
        </form>
        <div class="card-footer">
            <button (click)="add()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>